USE [alf1ery_tracking]
GO
/****** Object:  StoredProcedure [dbo].[sp_DangerRoute]    Script Date: 5/10/2026 5:44:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DangerRoute]
(
	@prouteId INT,
	@ptimestampDangerFront DATETIME,
	@ptimestampDanger DATETIME,
	@msj CHAR(2) OUTPUT
)
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION
			
			UPDATE [ROUTE] SET 
				[STATE] = 'D', 
				Timestamp_Danger = @ptimestampDanger,
				Timestamp_DangerFront = @ptimestampDangerFront,
				Timestamp_DangerRepeat = DATEADD(SECOND, 1, @ptimestampDanger),
				Timestamp_DangerFinish = DATEADD(HOUR, 3, @ptimestampDanger) 
			WHERE Id = @prouteId AND [STATE] = 'S'

			SET @msj = 'OK'

		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		SET @msj = 'EX';
		ROLLBACK TRANSACTION;
	END CATCH
END
GO
