USE [alf1ery_tracking]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDangerTracking]    Script Date: 5/10/2026 5:47:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetDangerTracking]
(
	@ptimestamp DATETIME
)
AS
BEGIN

	UPDATE ROUTE SET [State] = 'L' WHERE @ptimestamp > Timestamp_DangerFinish

	SELECT
		ROUT.Id AS [ID_ROUTE],
		ROUT.Tracking_id AS [TRACKING],
		[USE].[Name] AS [NAME],
		TRUS.Phone AS [PHONE],
		ROUT.Origin_latitud AS [LATITUDE],
		ROUT.Origin_longitude AS [LONGITUD]
	FROM [ROUTE] ROUT
	INNER JOIN TRUSTED_CONTACT TRUS ON TRUS.IdUser = ROUT.IdUser
	INNER JOIN [USER_PROFILE] [USE] ON [USE].Id = TRUS.IdUser
	WHERE ROUT.State = 'D' AND @ptimestamp > Timestamp_DangerRepeat AND TRUS.[State] = 1
END
GO
