USE [alf1ery_tracking]
GO
/****** Object:  Table [dbo].[ALERT]    Script Date: 5/10/2026 5:37:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALERT](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Latitude] [decimal](10, 4) NULL,
	[Longitude] [decimal](10, 4) NULL,
	[Timestamp] [datetime] NULL,
	[IdRoute] [int] NULL,
	[CountVisit] [int] NULL,
 CONSTRAINT [pk_alert] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ALERTXTRUSTED_CONTACTS]    Script Date: 5/10/2026 5:37:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALERTXTRUSTED_CONTACTS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdAlert] [int] NULL,
	[IdTrusted_Contacts] [int] NULL,
	[IsVisit] [bit] NULL,
 CONSTRAINT [pk_alertxtrusted_contacts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CODE_RESET]    Script Date: 5/10/2026 5:37:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CODE_RESET](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](10) NULL,
	[State] [bit] NULL,
	[IdUser] [int] NULL,
	[Phone] [varchar](10) NULL,
 CONSTRAINT [pk_code_reset] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POINT]    Script Date: 5/10/2026 5:37:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POINT](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Distance_text] [varchar](250) NULL,
	[Distance] [decimal](10, 4) NULL,
	[Duration_text] [varchar](250) NULL,
	[Duration] [decimal](10, 4) NULL,
	[Origin_latitud] [decimal](10, 4) NULL,
	[Origin_longitude] [decimal](10, 4) NULL,
	[End_latitud] [decimal](10, 4) NULL,
	[End_longitude] [decimal](10, 4) NULL,
	[Html_instructions] [varchar](max) NULL,
	[Timestamp] [datetime] NULL,
	[IsValid] [char](1) NULL,
	[IdRoute] [int] NULL,
	[Deviation] [decimal](10, 4) NULL,
 CONSTRAINT [pk_point] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLE]    Script Date: 5/10/2026 5:37:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLE](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[State] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreateAt] [datetime] NULL,
	[UpdateBy] [int] NULL,
	[UpdateAt] [datetime] NULL,
	[DeleteBy] [int] NULL,
	[DeleteAt] [datetime] NULL,
 CONSTRAINT [pk_role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROUTE]    Script Date: 5/10/2026 5:37:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROUTE](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Tracking_id] [varchar](10) NULL,
	[Distance_text] [varchar](250) NULL,
	[Distance] [decimal](10, 4) NULL,
	[Duration_text] [varchar](250) NULL,
	[Duration] [decimal](10, 4) NULL,
	[Origin_address] [varchar](max) NULL,
	[Origin_latitud] [decimal](10, 4) NULL,
	[Origin_longitude] [decimal](10, 4) NULL,
	[Destination_address] [varchar](max) NULL,
	[Destination_latitud] [decimal](10, 4) NULL,
	[Destination_longitude] [decimal](10, 4) NULL,
	[IdUser] [int] NULL,
	[IdRoute_calibrated] [int] NULL,
	[Timestamp] [datetime] NULL,
	[State] [char](1) NULL,
	[Timestamp_Danger] [datetime] NULL,
	[Timestamp_DangerFront] [datetime] NULL,
	[Timestamp_DangerWorker] [datetime] NULL,
	[Timestamp_DangerFinish] [datetime] NULL,
	[Timestamp_DangerRepeat] [datetime] NULL,
 CONSTRAINT [pk_route] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRUSTED_CONTACT]    Script Date: 5/10/2026 5:37:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRUSTED_CONTACT](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Lastname] [varchar](300) NULL,
	[Phone] [varchar](10) NULL,
	[State] [bit] NULL,
	[IdUser] [int] NULL,
	[CreatedBy] [int] NULL,
	[CreateAt] [datetime] NULL,
	[UpdateBy] [int] NULL,
	[UpdateAt] [datetime] NULL,
	[DeleteBy] [int] NULL,
	[DeleteAt] [datetime] NULL,
 CONSTRAINT [pk_trusted_contacts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 5/10/2026 5:37:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Phone] [varchar](10) NULL,
	[Password] [varchar](max) NULL,
	[IdRole] [int] NULL,
	[CreatedBy] [int] NULL,
	[CreateAt] [datetime] NULL,
	[UpdateBy] [int] NULL,
	[UpdateAt] [datetime] NULL,
	[DeleteBy] [int] NULL,
	[DeleteAt] [datetime] NULL,
	[State] [bit] NULL,
	[Token] [varchar](max) NULL,
 CONSTRAINT [pk_user] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_PROFILE]    Script Date: 5/10/2026 5:37:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_PROFILE](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[LastName] [varchar](300) NULL,
	[Birthday] [date] NULL,
	[State] [bit] NULL,
	[IdUser] [int] NULL,
	[Avatar] [varchar](max) NULL,
 CONSTRAINT [pk_user_profile] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ALERTXTRUSTED_CONTACTS] ADD  DEFAULT ((0)) FOR [IsVisit]
GO
ALTER TABLE [dbo].[ALERT]  WITH CHECK ADD  CONSTRAINT [fk_alertXRoute] FOREIGN KEY([IdRoute])
REFERENCES [dbo].[ROUTE] ([Id])
GO
ALTER TABLE [dbo].[ALERT] CHECK CONSTRAINT [fk_alertXRoute]
GO
ALTER TABLE [dbo].[ALERTXTRUSTED_CONTACTS]  WITH CHECK ADD  CONSTRAINT [fk_alertxtrusted_contactsXAlert] FOREIGN KEY([IdAlert])
REFERENCES [dbo].[ALERT] ([Id])
GO
ALTER TABLE [dbo].[ALERTXTRUSTED_CONTACTS] CHECK CONSTRAINT [fk_alertxtrusted_contactsXAlert]
GO
ALTER TABLE [dbo].[ALERTXTRUSTED_CONTACTS]  WITH CHECK ADD  CONSTRAINT [fk_alertxtrusted_contactsXTrusted_contacts] FOREIGN KEY([IdTrusted_Contacts])
REFERENCES [dbo].[TRUSTED_CONTACT] ([Id])
GO
ALTER TABLE [dbo].[ALERTXTRUSTED_CONTACTS] CHECK CONSTRAINT [fk_alertxtrusted_contactsXTrusted_contacts]
GO
ALTER TABLE [dbo].[CODE_RESET]  WITH CHECK ADD  CONSTRAINT [fk_code_resetXUser] FOREIGN KEY([IdUser])
REFERENCES [dbo].[USER] ([Id])
GO
ALTER TABLE [dbo].[CODE_RESET] CHECK CONSTRAINT [fk_code_resetXUser]
GO
ALTER TABLE [dbo].[POINT]  WITH CHECK ADD  CONSTRAINT [fk_pointXroute] FOREIGN KEY([IdRoute])
REFERENCES [dbo].[ROUTE] ([Id])
GO
ALTER TABLE [dbo].[POINT] CHECK CONSTRAINT [fk_pointXroute]
GO
ALTER TABLE [dbo].[ROUTE]  WITH CHECK ADD  CONSTRAINT [fk_route_user] FOREIGN KEY([IdUser])
REFERENCES [dbo].[USER] ([Id])
GO
ALTER TABLE [dbo].[ROUTE] CHECK CONSTRAINT [fk_route_user]
GO
ALTER TABLE [dbo].[ROUTE]  WITH CHECK ADD  CONSTRAINT [fk_routeXroute_calibrated] FOREIGN KEY([IdRoute_calibrated])
REFERENCES [dbo].[ROUTE] ([Id])
GO
ALTER TABLE [dbo].[ROUTE] CHECK CONSTRAINT [fk_routeXroute_calibrated]
GO
ALTER TABLE [dbo].[TRUSTED_CONTACT]  WITH CHECK ADD  CONSTRAINT [fk_trusted_contactsXUser] FOREIGN KEY([IdUser])
REFERENCES [dbo].[USER] ([Id])
GO
ALTER TABLE [dbo].[TRUSTED_CONTACT] CHECK CONSTRAINT [fk_trusted_contactsXUser]
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD  CONSTRAINT [fk_user_role] FOREIGN KEY([IdRole])
REFERENCES [dbo].[ROLE] ([Id])
GO
ALTER TABLE [dbo].[USER] CHECK CONSTRAINT [fk_user_role]
GO
ALTER TABLE [dbo].[USER_PROFILE]  WITH CHECK ADD  CONSTRAINT [fk_user_profilexuser] FOREIGN KEY([IdUser])
REFERENCES [dbo].[USER] ([Id])
GO
ALTER TABLE [dbo].[USER_PROFILE] CHECK CONSTRAINT [fk_user_profilexuser]
GO
