USE [alf1ery_tracking]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_EvaluarPuntoEnLinea]    Script Date: 5/5/2026 1:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[fn_EvaluarPuntoEnLinea] (
    @LatA FLOAT,
    @LonA FLOAT,
    @LatB FLOAT,
    @LonB FLOAT,
    @LatP FLOAT,
    @LonP FLOAT
)
RETURNS DECIMAL(10, 4)
AS
BEGIN
    DECLARE @geoA GEOGRAPHY = GEOGRAPHY::Point(@LatA, @LonA, 4326);
    DECLARE @geoB GEOGRAPHY = GEOGRAPHY::Point(@LatB, @LonB, 4326);
    DECLARE @geoP GEOGRAPHY = GEOGRAPHY::Point(@LatP, @LonP, 4326);

    DECLARE @line GEOGRAPHY = @geoA.STUnion(@geoB).STConvexHull();

    DECLARE @desviacion FLOAT = @geoP.STDistance(@line);

    RETURN @desviacion;
END;
GO
/****** Object:  Table [dbo].[ALERT]    Script Date: 5/5/2026 1:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALERT](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Latitude] [decimal](10, 4) NULL,
	[Longitude] [decimal](10, 4) NULL,
	[Timestamp] [datetime] NULL,
	[IdRoute] [int] NULL,
	[CountVisit] [int] NULL,
 CONSTRAINT [pk_alert] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ALERTXTRUSTED_CONTACTS]    Script Date: 5/5/2026 1:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALERTXTRUSTED_CONTACTS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdAlert] [int] NULL,
	[IdTrusted_Contacts] [int] NULL,
 CONSTRAINT [pk_alertxtrusted_contacts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CODE_RESET]    Script Date: 5/5/2026 1:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CODE_RESET](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](10) NULL,
	[State] [bit] NULL,
	[IdUser] [int] NULL,
	[Phone] [varchar](10) NULL,
 CONSTRAINT [pk_code_reset] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POINT]    Script Date: 5/5/2026 1:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POINT](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Distance_text] [varchar](250) NULL,
	[Distance] [decimal](10, 4) NULL,
	[Duration_text] [varchar](250) NULL,
	[Duration] [decimal](10, 4) NULL,
	[Origin_latitud] [decimal](10, 4) NULL,
	[Origin_longitude] [decimal](10, 4) NULL,
	[End_latitud] [decimal](10, 4) NULL,
	[End_longitude] [decimal](10, 4) NULL,
	[Html_instructions] [varchar](max) NULL,
	[Timestamp] [datetime] NULL,
	[IsValid] [char](1) NULL,
	[IdRoute] [int] NULL,
	[Deviation] [decimal](10, 4) NULL,
 CONSTRAINT [pk_point] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLE]    Script Date: 5/5/2026 1:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLE](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[State] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreateAt] [datetime] NULL,
	[UpdateBy] [int] NULL,
	[UpdateAt] [datetime] NULL,
	[DeleteBy] [int] NULL,
	[DeleteAt] [datetime] NULL,
 CONSTRAINT [pk_role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROUTE]    Script Date: 5/5/2026 1:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROUTE](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Tracking_id] [varchar](10) NULL,
	[Distance_text] [varchar](250) NULL,
	[Distance] [decimal](10, 4) NULL,
	[Duration_text] [varchar](250) NULL,
	[Duration] [decimal](10, 4) NULL,
	[Origin_address] [varchar](max) NULL,
	[Origin_latitud] [decimal](10, 4) NULL,
	[Origin_longitude] [decimal](10, 4) NULL,
	[Destination_address] [varchar](max) NULL,
	[Destination_latitud] [decimal](10, 4) NULL,
	[Destination_longitude] [decimal](10, 4) NULL,
	[IdUser] [int] NULL,
	[IdRoute_calibrated] [int] NULL,
	[Timestamp] [datetime] NULL,
	[State] [char](1) NULL,
	[Timestamp_Danger] [datetime] NULL,
 CONSTRAINT [pk_route] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRUSTED_CONTACT]    Script Date: 5/5/2026 1:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRUSTED_CONTACT](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Lastname] [varchar](300) NULL,
	[Phone] [varchar](10) NULL,
	[State] [bit] NULL,
	[IdUser] [int] NULL,
	[CreatedBy] [int] NULL,
	[CreateAt] [datetime] NULL,
	[UpdateBy] [int] NULL,
	[UpdateAt] [datetime] NULL,
	[DeleteBy] [int] NULL,
	[DeleteAt] [datetime] NULL,
 CONSTRAINT [pk_trusted_contacts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 5/5/2026 1:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Phone] [varchar](10) NULL,
	[Password] [varchar](max) NULL,
	[IdRole] [int] NULL,
	[CreatedBy] [int] NULL,
	[CreateAt] [datetime] NULL,
	[UpdateBy] [int] NULL,
	[UpdateAt] [datetime] NULL,
	[DeleteBy] [int] NULL,
	[DeleteAt] [datetime] NULL,
	[State] [bit] NULL,
	[Token] [varchar](max) NULL,
 CONSTRAINT [pk_user] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_PROFILE]    Script Date: 5/5/2026 1:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_PROFILE](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[LastName] [varchar](300) NULL,
	[Birthday] [date] NULL,
	[State] [bit] NULL,
	[IdUser] [int] NULL,
	[Avatar] [varchar](max) NULL,
 CONSTRAINT [pk_user_profile] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ALERT] ON 

INSERT [dbo].[ALERT] ([Id], [Latitude], [Longitude], [Timestamp], [IdRoute], [CountVisit]) VALUES (1, CAST(-6.7742 AS Decimal(10, 4)), CAST(-79.8425 AS Decimal(10, 4)), CAST(N'2026-02-25T00:00:00.000' AS DateTime), 17, 3)
INSERT [dbo].[ALERT] ([Id], [Latitude], [Longitude], [Timestamp], [IdRoute], [CountVisit]) VALUES (2, CAST(-6.7742 AS Decimal(10, 4)), CAST(-79.8425 AS Decimal(10, 4)), CAST(N'2026-02-25T00:00:00.000' AS DateTime), 17, 3)
INSERT [dbo].[ALERT] ([Id], [Latitude], [Longitude], [Timestamp], [IdRoute], [CountVisit]) VALUES (3, CAST(-6.7742 AS Decimal(10, 4)), CAST(-79.8425 AS Decimal(10, 4)), CAST(N'2026-02-25T00:00:00.000' AS DateTime), 17, 0)
SET IDENTITY_INSERT [dbo].[ALERT] OFF
GO
SET IDENTITY_INSERT [dbo].[ALERTXTRUSTED_CONTACTS] ON 

INSERT [dbo].[ALERTXTRUSTED_CONTACTS] ([Id], [IdAlert], [IdTrusted_Contacts]) VALUES (1, 1, 1)
INSERT [dbo].[ALERTXTRUSTED_CONTACTS] ([Id], [IdAlert], [IdTrusted_Contacts]) VALUES (2, 2, 1)
INSERT [dbo].[ALERTXTRUSTED_CONTACTS] ([Id], [IdAlert], [IdTrusted_Contacts]) VALUES (3, 3, 1)
SET IDENTITY_INSERT [dbo].[ALERTXTRUSTED_CONTACTS] OFF
GO
SET IDENTITY_INSERT [dbo].[CODE_RESET] ON 

INSERT [dbo].[CODE_RESET] ([Id], [Code], [State], [IdUser], [Phone]) VALUES (26, N'786226', 0, NULL, N'966676402')
INSERT [dbo].[CODE_RESET] ([Id], [Code], [State], [IdUser], [Phone]) VALUES (29, N'936586', 0, 8, N'966676402')
INSERT [dbo].[CODE_RESET] ([Id], [Code], [State], [IdUser], [Phone]) VALUES (35, N'652323', 1, NULL, N'971602090')
SET IDENTITY_INSERT [dbo].[CODE_RESET] OFF
GO
SET IDENTITY_INSERT [dbo].[POINT] ON 

GO
SET IDENTITY_INSERT [dbo].[POINT] OFF
GO
SET IDENTITY_INSERT [dbo].[ROLE] ON 

INSERT [dbo].[ROLE] ([Id], [Name], [State], [CreatedBy], [CreateAt], [UpdateBy], [UpdateAt], [DeleteBy], [DeleteAt]) VALUES (1, N'Admin', 1, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[ROLE] ([Id], [Name], [State], [CreatedBy], [CreateAt], [UpdateBy], [UpdateAt], [DeleteBy], [DeleteAt]) VALUES (2, N'User', 1, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ROLE] OFF
GO
SET IDENTITY_INSERT [dbo].[ROUTE] ON 

SET IDENTITY_INSERT [dbo].[ROUTE] OFF
GO
SET IDENTITY_INSERT [dbo].[TRUSTED_CONTACT] ON 

INSERT [dbo].[TRUSTED_CONTACT] ([Id], [Name], [Lastname], [Phone], [State], [IdUser], [CreatedBy], [CreateAt], [UpdateBy], [UpdateAt], [DeleteBy], [DeleteAt]) VALUES (1, N'Ghiro', N'Luck', N'966676402', 1, 1, 1, CAST(N'2026-02-04T12:31:46.847' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[TRUSTED_CONTACT] ([Id], [Name], [Lastname], [Phone], [State], [IdUser], [CreatedBy], [CreateAt], [UpdateBy], [UpdateAt], [DeleteBy], [DeleteAt]) VALUES (2, N'Aldo', N'Pegaln', N'987654321', 0, 1, 1, CAST(N'2026-04-11T00:19:18.707' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[TRUSTED_CONTACT] ([Id], [Name], [Lastname], [Phone], [State], [IdUser], [CreatedBy], [CreateAt], [UpdateBy], [UpdateAt], [DeleteBy], [DeleteAt]) VALUES (3, N'Ghiro', N'Luck', N'971602090', 1, 8, 8, CAST(N'2026-04-11T10:49:38.427' AS DateTime), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[TRUSTED_CONTACT] OFF
GO
SET IDENTITY_INSERT [dbo].[USER] ON 

SET IDENTITY_INSERT [dbo].[USER] OFF
GO
SET IDENTITY_INSERT [dbo].[USER_PROFILE] ON 

INSERT [dbo].[USER_PROFILE] ([Id], [Name], [LastName], [Birthday], [State], [IdUser], [Avatar]) VALUES (1, N'Alfiery', N'Furlong Millones', CAST(N'2000-08-20' AS Date), 1, 1, N'default')
INSERT [dbo].[USER_PROFILE] ([Id], [Name], [LastName], [Birthday], [State], [IdUser], [Avatar]) VALUES (8, N'Rodolfo', N'Furlong', CAST(N'2000-06-08' AS Date), 1, 8, NULL)
SET IDENTITY_INSERT [dbo].[USER_PROFILE] OFF
GO
ALTER TABLE [dbo].[ALERT]  WITH CHECK ADD  CONSTRAINT [fk_alertXRoute] FOREIGN KEY([IdRoute])
REFERENCES [dbo].[ROUTE] ([Id])
GO
ALTER TABLE [dbo].[ALERT] CHECK CONSTRAINT [fk_alertXRoute]
GO
ALTER TABLE [dbo].[ALERTXTRUSTED_CONTACTS]  WITH CHECK ADD  CONSTRAINT [fk_alertxtrusted_contactsXAlert] FOREIGN KEY([IdAlert])
REFERENCES [dbo].[ALERT] ([Id])
GO
ALTER TABLE [dbo].[ALERTXTRUSTED_CONTACTS] CHECK CONSTRAINT [fk_alertxtrusted_contactsXAlert]
GO
ALTER TABLE [dbo].[ALERTXTRUSTED_CONTACTS]  WITH CHECK ADD  CONSTRAINT [fk_alertxtrusted_contactsXTrusted_contacts] FOREIGN KEY([IdTrusted_Contacts])
REFERENCES [dbo].[TRUSTED_CONTACT] ([Id])
GO
ALTER TABLE [dbo].[ALERTXTRUSTED_CONTACTS] CHECK CONSTRAINT [fk_alertxtrusted_contactsXTrusted_contacts]
GO
ALTER TABLE [dbo].[CODE_RESET]  WITH CHECK ADD  CONSTRAINT [fk_code_resetXUser] FOREIGN KEY([IdUser])
REFERENCES [dbo].[USER] ([Id])
GO
ALTER TABLE [dbo].[CODE_RESET] CHECK CONSTRAINT [fk_code_resetXUser]
GO
ALTER TABLE [dbo].[POINT]  WITH CHECK ADD  CONSTRAINT [fk_pointXroute] FOREIGN KEY([IdRoute])
REFERENCES [dbo].[ROUTE] ([Id])
GO
ALTER TABLE [dbo].[POINT] CHECK CONSTRAINT [fk_pointXroute]
GO
ALTER TABLE [dbo].[ROUTE]  WITH CHECK ADD  CONSTRAINT [fk_route_user] FOREIGN KEY([IdUser])
REFERENCES [dbo].[USER] ([Id])
GO
ALTER TABLE [dbo].[ROUTE] CHECK CONSTRAINT [fk_route_user]
GO
ALTER TABLE [dbo].[ROUTE]  WITH CHECK ADD  CONSTRAINT [fk_routeXroute_calibrated] FOREIGN KEY([IdRoute_calibrated])
REFERENCES [dbo].[ROUTE] ([Id])
GO
ALTER TABLE [dbo].[ROUTE] CHECK CONSTRAINT [fk_routeXroute_calibrated]
GO
ALTER TABLE [dbo].[TRUSTED_CONTACT]  WITH CHECK ADD  CONSTRAINT [fk_trusted_contactsXUser] FOREIGN KEY([IdUser])
REFERENCES [dbo].[USER] ([Id])
GO
ALTER TABLE [dbo].[TRUSTED_CONTACT] CHECK CONSTRAINT [fk_trusted_contactsXUser]
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD  CONSTRAINT [fk_user_role] FOREIGN KEY([IdRole])
REFERENCES [dbo].[ROLE] ([Id])
GO
ALTER TABLE [dbo].[USER] CHECK CONSTRAINT [fk_user_role]
GO
ALTER TABLE [dbo].[USER_PROFILE]  WITH CHECK ADD  CONSTRAINT [fk_user_profilexuser] FOREIGN KEY([IdUser])
REFERENCES [dbo].[USER] ([Id])
GO
ALTER TABLE [dbo].[USER_PROFILE] CHECK CONSTRAINT [fk_user_profilexuser]
GO
/****** Object:  StoredProcedure [dbo].[sp_ArriveRoute]    Script Date: 5/5/2026 1:35:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ArriveRoute]
(
	@ptrackingID INT,
	@puserId INT,
	@plongitude DECIMAL(10, 4),
	@platitude DECIMAL(10, 4),
	@message VARCHAR(250) OUTPUT
)
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION
			
			UPDATE [ROUTE] SET [STATE] = 'F' WHERE Id = @ptrackingID AND IdUser = @puserId AND [STATE] <> 'F'

			SET @message = 'Tracking started'

		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		SET @message = ERROR_MESSAGE();
		ROLLBACK TRANSACTION;
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CancelRoute]    Script Date: 5/5/2026 1:35:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CancelRoute]
(
	@puserId INT,
	@msj CHAR(2) OUTPUT
)
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION
			
			UPDATE [ROUTE] SET [STATE] = 'C' WHERE IdUser = @puserId AND [STATE] = 'S'

			IF @@ROWCOUNT > 0
			BEGIN
				SET @msj = 'OK'
			END
			ELSE
			BEGIN
				SET @msj = 'E1'
			END

		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		SET @msj = 'EX';
		ROLLBACK TRANSACTION;
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ChangePassword]    Script Date: 5/5/2026 1:35:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ChangePassword]
(
	@presetCode VARCHAR(6),
	@poldPassword VARCHAR(MAX),
	@pnewPassword VARCHAR(MAX),
	@pidUser INT,
	@message VARCHAR(500) OUTPUT
)
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION
			DECLARE @idCode INT
			SELECT @idCode = Id FROM CODE_RESET WHERE Code = @presetCode AND IdUser = @pidUser AND [State] = 1 
			IF(@idCode <> 0)
			BEGIN
				IF(@poldPassword != @pnewPassword)
				BEGIN
					UPDATE [USER] SET [Password] = @pnewPassword WHERE Id = @pidUser
					SET @message = 'Password updated successfully.';
				END
				ELSE
				BEGIN
					SET @message = 'Keys do not match.';
				END
				UPDATE CODE_RESET SET [State] = 0 WHERE IdUser = @pidUser
			END
			ELSE
			BEGIN
				SET @message = 'Update password failed.';
			END
		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION;
		SET @message = '';
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ChangeStatusConfidenceContact]    Script Date: 5/5/2026 1:35:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ChangeStatusConfidenceContact]
(
	@pid INT
)
AS
BEGIN
	DECLARE @newState BIT, @message VARCHAR(MAX), @idChangeStateTrustedContact INT
	SET @message = 'The trusted contact´s status has not been changed correctly'
	BEGIN TRY
		BEGIN TRANSACTION

			SELECT @newState = [State] FROM TRUSTED_CONTACT WHERE Id = @pid

			SET @newState = 
			(CASE @newState
				WHEN 1 THEN 0
				WHEN 0 THEN 1
				END)


			UPDATE TRUSTED_CONTACT 
				SET [State] = @newState 
			WHERE Id = @pid

			SET @idChangeStateTrustedContact = @@ROWCOUNT;

			IF(@idChangeStateTrustedContact > 0)
			BEGIN
				SET @message = 'The trusted contact status has been successfully changed.';
			END

			SELECT 
				@message AS [MESSAGE],
				@pid AS [CONTACT_ID],
				@newState AS [IS_ACTIVE]
		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		SET @message = ERROR_MESSAGE();
		ROLLBACK TRANSACTION;
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DangerRoute]    Script Date: 5/5/2026 1:35:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DangerRoute]
(
	@prouteId INT,
	@ptimestampDanger DATETIME,
	@msj CHAR(2) OUTPUT
)
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION
			
			UPDATE [ROUTE] SET [STATE] = 'D', Timestamp_Danger = DATEADD(hour, 3, @ptimestampDanger) WHERE Id = @prouteId AND [STATE] = 'S'

			SET @msj = 'OK'

		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		SET @msj = 'EX';
		ROLLBACK TRANSACTION;
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteConfidenceContact]    Script Date: 5/5/2026 1:35:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteConfidenceContact]
(
	@pid INT,
	@message VARCHAR(MAX) OUTPUT
)
AS
BEGIN
	DECLARE 
		@idDeleteTrustedContact INT
	SET @message = ''
	BEGIN TRY
		BEGIN TRANSACTION
			DELETE TRUSTED_CONTACT WHERE Id = @pid

			SET @message = 'Confidence contact deleted successfully.';
		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION;
		SET @message = 'Trusted contact has not been deleted correctly';
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteToken]    Script Date: 5/5/2026 1:35:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteToken]
(
	@pidUser INT
)
AS
BEGIN
	UPDATE [USER] SET Token = null WHERE Id = @pidUser
END
GO
/****** Object:  StoredProcedure [dbo].[sp_FinishDangerRoute]    Script Date: 5/5/2026 1:35:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_FinishDangerRoute]
(
	@pTrackingId VARCHAR(10),
	@pIdUser INT,
	@finish VARCHAR(100) OUTPUT
)
AS
BEGIN

	IF (SUBSTRING(@pTrackingId, LEN(@pTrackingId), 1) <> 'T')
	BEGIN
		SET @finish = 'INCORRECT SYNTAX'
	END
	ELSE
	BEGIN
		DECLARE @countAlter INT

		UPDATE [ROUTE] 
			SET [State] = 'F' 
		WHERE 
			Tracking_id = CONCAT('track-', SUBSTRING(@pTrackingId, 1, LEN(@pTrackingId) - 1))
			AND [State] = 'D'
			AND IdUser = @pIdUser

		SET @countAlter = @@ROWCOUNT

		IF(@countAlter <> 0)
		BEGIN
			SET @finish = 'FINISH'
		END
		ELSE
		BEGIN
			SET @finish = 'NOT FOUND'
		END

	END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetConfidenceContact]    Script Date: 5/5/2026 1:35:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetConfidenceContact]
(
	@pidUser INT
)
AS
BEGIN

	SELECT
		TRUS_CONT.Id AS [CONTACT_ID],
		TRUS_CONT.[Name] AS [NAME],
		TRUS_CONT.Lastname AS [LASTNAME],
		TRUS_CONT.Phone AS [PHONE],
		TRUS_CONT.[State] AS [STATUS]
	FROM [TRUSTED_CONTACT] TRUS_CONT
	WHERE TRUS_CONT.IdUser = @pidUser

END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDangerRoute]    Script Date: 5/5/2026 1:35:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetDangerRoute]
(
	@pTrackingRoute VARCHAR(10),
	@pPhoneUser VARCHAR(10)
)
AS
BEGIN

	UPDATE ALE SET CountVisit = CountVisit  + 1
	FROM ALERT ALE
	INNER JOIN ALERTXTRUSTED_CONTACTS ALEXTRU ON ALEXTRU.IdAlert = ALE.Id
	INNER JOIN TRUSTED_CONTACT TRU ON TRU.Id = ALEXTRU.IdTrusted_Contacts
	WHERE TRU.Phone = @pPhoneUser

	SELECT 
		POIN.Origin_latitud AS [LATITUD],
		POIN.Origin_longitude AS [LONGITUDE],
		POIN.[Timestamp] AS [TIME]
	FROM [ROUTE] ROUT
	INNER JOIN POINT POIN ON POIN.IdRoute = ROUT.Id AND POIN.IsValid = 'L'
	WHERE [State] = 'D' AND Tracking_id = @pTrackingRoute
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDangerTracking]    Script Date: 5/5/2026 1:35:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetDangerTracking]
(
	@ptimestamp DATETIME
)
AS
BEGIN

	UPDATE ROUTE SET [State] = 'L' WHERE @ptimestamp > Timestamp_Danger

	SELECT
		ROUT.Id AS [ID_ROUTE],
		ROUT.Tracking_id AS [TRACKING],
		TRUS.Name AS [NAME],
		TRUS.Phone AS [PHONE],
		ROUT.Origin_latitud AS [LATITUDE],
		ROUT.Origin_longitude AS [LONGITUD]
	FROM [ROUTE] ROUT
	INNER JOIN TRUSTED_CONTACT TRUS ON TRUS.IdUser = ROUT.IdUser
	WHERE ROUT.State = 'D'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPointOfRoute]    Script Date: 5/5/2026 1:35:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetPointOfRoute]
(
	@pTrackingId INT
)
AS
BEGIN

	SELECT 
		Origin_latitud AS [ORIGIN_LATITUD],
		Origin_longitude AS [ORIGIN_LONGITUDE],
		End_latitud AS [END_LATITUD],
		End_longitude AS [END_LONGITUDE]
	FROM POINT WHERE IdRoute = @pTrackingId  AND IsValid = 'D'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSpecificConfidenceContact]    Script Date: 5/5/2026 1:35:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetSpecificConfidenceContact]
(
	@pidTrustedContact INT
)
AS
BEGIN

	SELECT
		TRUS_CONT.Id AS [CONTACT_ID],
		TRUS_CONT.[Name] AS [NAME],
		TRUS_CONT.Lastname AS [LASTNAME],
		TRUS_CONT.Phone AS [PHONE],
		TRUS_CONT.[State] AS [STATUS]
	FROM [TRUSTED_CONTACT] TRUS_CONT
	WHERE TRUS_CONT.Id = @pidTrustedContact

END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTrackingHistory]    Script Date: 5/5/2026 1:35:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetTrackingHistory]
(
	@pIdUser INT,
	@pEsRutaActual BIT
)
AS
BEGIN

	SELECT
		ROUT.Id AS [ID_ROUTE],
		ROUT.Origin_address AS [ORIGEN],
		ROUT.Origin_latitud AS [ORIGIN_LATITUD],
		ROUT.Origin_longitude AS [ORIGIN_LONGITUD],
		ROUT.Destination_address AS [DESTINATION],
		ROUT.Destination_latitud AS [DESTINATION_LATITUD],
		ROUT.Destination_longitude AS [DESTINATION_LONGITUDE],
		(CASE ROUT.[State] 
			WHEN 'S' THEN 'STARTED' 
			WHEN 'F' THEN 'FINISHED'
			WHEN 'C' THEN 'CANCELED'
			WHEN 'D' THEN 'DANGER'
			WHEN 'L' THEN 'LOST'
		END) AS [STATE],
		ROUT.Timestamp AS [TIME]
	FROM [ROUTE] ROUT 
	WHERE (ROUT.State IN ('S', 'D') OR @pEsRutaActual = 0)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUsers]    Script Date: 5/5/2026 1:35:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetUsers]
(
	@ppage INT,
	@plimit INT,
	@total INT OUTPUT
)
AS
BEGIN
	
	SELECT @total = COUNT(*) FROM [USER]

	SELECT 
		USR.Id AS [ID],
		USR_PROF.[Name] AS [NAME],
		USR_PROF.LastName AS [LASTNAME],
		USR.Phone AS [PHONE],
		USR.[State] AS [STATE]
	FROM [USER] USR
	INNER JOIN USER_PROFILE USR_PROF ON USR_PROF.IdUser = USR.Id
	ORDER BY USR.Id
	OFFSET (@ppage - 1) * @plimit ROWS
	FETCH NEXT @plimit ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUsersById]    Script Date: 5/5/2026 1:35:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetUsersById]
(
	@pId INT
)
AS
BEGIN
	SELECT 
		USR.Id AS [ID],
		USR_PROF.[Name] AS [NAME],
		USR_PROF.LastName AS [LASTNAME],
		USR_PROF.Birthday AS [BIRTHDAY],
		USR.Phone AS [PHONE],
		USR.[State] AS [STATE],
		USR.CreateAt AS [CREATEDAT]
	FROM [USER] USR
	INNER JOIN USER_PROFILE USR_PROF ON USR_PROF.IdUser = USR.Id
	WHERE USR.Id = @pId
END
GO
/****** Object:  StoredProcedure [dbo].[sp_login]    Script Date: 5/5/2026 1:35:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_login]
(
	@pphone VARCHAR(10),
	@pclave VARCHAR(MAX)
)
AS
BEGIN
	SELECT 
		USU.Id AS [ID],
		USU.Phone AS [PHONE],
		USER_PRO.[Name] AS [NAME],
		USER_PRO.LastName AS [LAST_NAME],
		USER_PRO.Birthday AS [BIRTHDAY],
		ROL.Id AS [ID_ROLE],
		ROL.[Name] AS [ROLE]
	FROM [USER] USU
	LEFT JOIN [ROLE] ROL ON ROL.Id = USU.IdRole
	LEFT JOIN [USER_PROFILE] USER_PRO ON USER_PRO.IdUser = USU.Id
	WHERE 
		USU.Phone = @pphone 
		AND USU.Password = @pclave 
		AND USER_PRO.[State] = 1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RegisterAlert]    Script Date: 5/5/2026 1:35:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_RegisterAlert]
(
	@pidRoute INT,
	@ptrackingId VARCHAR(10),
	@platitude DECIMAL(10, 4),
	@plongitude DECIMAL(10, 4),
	@ptimestamp DATE,
	@msj CHAR(2) OUTPUT
)
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION

			DECLARE @countAlert INT = 0;

			SELECT 
				@countAlert = COUNT(Id) 
			FROM ALERT WHERE IdRoute = @pidRoute

			IF (COALESCE(@countAlert, 0) = 0)
			BEGIN
				DECLARE @idAlert INT, @idUser INT;

				SELECT @idUser = IdUser FROM [ROUTE] WHERE Id = @pidRoute

				INSERT INTO ALERT(Latitude, Longitude, [Timestamp], IdRoute, CountVisit) 
					VALUES(@platitude, @plongitude, @ptimestamp, @pidRoute, 0)

				SET @idAlert = SCOPE_IDENTITY();

				INSERT INTO ALERTXTRUSTED_CONTACTS(IdAlert, IdTrusted_Contacts)
					SELECT @idAlert, Id FROM TRUSTED_CONTACT WHERE IdUser = @idUser AND State = 1

				SET @msj = 'OK'
				END
			ELSE
			BEGIN
				SET @msj = 'E1'
			END

		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION;
			SET @msj = 'EX'
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RegisterCodeReset]    Script Date: 5/5/2026 1:35:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_RegisterCodeReset]
(
	@pcode VARCHAR(6),
	@pphone VARCHAR(12),
	@message VARCHAR(500) OUTPUT
)
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION
			
			DECLARE @IdUsuario INT;

			SELECT @IdUsuario = Id FROM [USER] WHERE Phone = @pphone

			INSERT INTO CODE_RESET(Code, State, IdUser, Phone) 
				VALUES(@pcode, 1, @IdUsuario, @pphone)
			SET @message = 'Code registed successfully.';
		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		SET @message = 'EX';
		ROLLBACK TRANSACTION;
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RegisterConfidenceContact]    Script Date: 5/5/2026 1:35:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_RegisterConfidenceContact]
(
	@pname VARCHAR(100),
	@plastName VARCHAR(200),
	@pphone VARCHAR(10),
	@pidUser INT,
	@pidUserCreate INT,
	@pdateCreate DATETIME
)
AS
BEGIN
	DECLARE 
		@idNewTrustedContact INT = 0, 
		@message VARCHAR(MAX) = 'Trusted contact has not been added correctly'
	BEGIN TRY
		BEGIN TRANSACTION
			INSERT INTO TRUSTED_CONTACT([name], Lastname, Phone, [State], IdUser, CreatedBy, CreateAt)
			VALUES(@pname, @plastName, @pphone, 1, @pidUser, @pidUserCreate, @pdateCreate)

			SET @idNewTrustedContact = SCOPE_IDENTITY();

			IF(@idNewTrustedContact IS NOT NULL)
			BEGIN
				SET @message = 'Confidence contact added successfully.';
			END

			SELECT
				@message AS [MESSAGE],
				@idNewTrustedContact AS [CONTACT_ID],
				TRUS_CONT.[Name] AS [NAME],
				TRUS_CONT.Lastname AS [LASTNAME],
				TRUS_CONT.Phone AS [PHONE],
				TRUS_CONT.[State] AS [STATUS]
			FROM TRUSTED_CONTACT TRUS_CONT
			WHERE Id = @idNewTrustedContact
		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION;
		SET @idNewTrustedContact = 0;
		SET @message = ERROR_MESSAGE();
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RegisterLiveCoordinate]    Script Date: 5/5/2026 1:35:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_RegisterLiveCoordinate]
(
	@pidTracking INT,
	@platitud DECIMAL(10,6),
	@plongitute DECIMAL(10,6),
	@ptimestamp DATETIME,
	@status VARCHAR(250) OUTPUT,
	@cancelable BIT OUTPUT,
	@deviation DECIMAL(10,6) OUTPUT,
	@lastLatitud DECIMAL(10,6) OUTPUT,
	@lastLongitute DECIMAL(10,6) OUTPUT,
	@isDanger VARCHAR(10) OUTPUT
)
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION

			DECLARE 
				@routeOriginLatitud DECIMAL(10,6),
				@routeOriginLongitude DECIMAL(10,6),
				@routeEndLatitud DECIMAL(10,6),
				@routeEndLongitude DECIMAL(10,6),
				@calculusDeviatio DECIMAL(10,6),
				@calculusDeviatioFinal DECIMAL(10,6) = 0,
				@distanceRadiusFinalPoint DECIMAL(10,6)

			SET @cancelable = 0

			DECLARE cursor_points CURSOR FOR
			(SELECT 
				Origin_latitud, Origin_longitude, 
				End_latitud, End_longitude
			FROM POINT
			WHERE IdRoute = @pidTracking AND IsValid = 'D')

			CREATE TABLE #desviationsTemp (
				valores DECIMAL(10,6)
			)

			OPEN cursor_points;

			FETCH NEXT FROM cursor_points INTO @routeOriginLatitud, @routeOriginLongitude, @routeEndLatitud, @routeEndLongitude;

			WHILE @@FETCH_STATUS = 0
			BEGIN
				SET @calculusDeviatio = dbo.fn_EvaluarPuntoEnLinea(
											@routeOriginLatitud, @routeOriginLongitude, 
											@routeEndLatitud, @routeEndLongitude,
											@platitud, @plongitute)
				
				INSERT INTO #desviationsTemp VALUES (@calculusDeviatio);

				FETCH NEXT FROM cursor_points INTO @routeOriginLatitud, @routeOriginLongitude, @routeEndLatitud, @routeEndLongitude;
			END

			CLOSE cursor_points;
			DEALLOCATE cursor_points;

			SELECT TOP 1 
				@calculusDeviatioFinal = valores
			FROM #desviationsTemp 
			WHERE valores > 0
			ORDER BY valores ASC

			IF OBJECT_ID('tempdb..#desviationsTemp') IS NOT NULL
				DROP TABLE #desviationsTemp;

			INSERT INTO dbo.POINT (
				Origin_latitud,
				Origin_longitude,
				[Timestamp],
				IsValid,
				IdRoute,
				Deviation
			) VALUES(
				@platitud,
				@plongitute,
				@ptimestamp,
				'L', --LIVE 
				@pidTracking,
				@calculusDeviatioFinal
			)

			SET @deviation = @calculusDeviatioFinal
			SET @lastLatitud = 0
			SET @lastLongitute = 0
			SET @status = 'ON_ROUTE'
			IF(@deviation >= 75)
			BEGIN
				SET @status = 'OFF_ROUTE'
				SELECT TOP 1
					@lastLatitud = Origin_latitud,
					@lastLongitute = Origin_longitude
				FROM POINT WHERE IdRoute = @pidTracking
				ORDER BY Id DESC
			END

			IF(@status = 'ON_ROUTE')
			BEGIN				
				DECLARE @endLatitud DECIMAL(10,6), @endLongitude DECIMAL(10,6)

				SELECT TOP 1
					@endLatitud = End_latitud, 
					@endLongitude = End_longitude
				FROM POINT
				WHERE IdRoute = @pidTracking AND IsValid = 'D' 

				DECLARE @p1 geography = geography::Point(@platitud, @plongitute, 4326);
				DECLARE @p2 geography = geography::Point(@endLatitud, @endLongitude, 4326);

				SET @distanceRadiusFinalPoint = @p1.STDistance(@p2) 

				SET @lastLatitud = @endLatitud
				SET @lastLongitute = @endLongitude

				IF(@distanceRadiusFinalPoint <= 80)
				BEGIN
					SET @cancelable = 0
				END
				ELSE
				BEGIN
					SET @cancelable = 1
				END

			END

			SELECT @isDanger = 
				CASE 
					WHEN [State] = 'D' THEN Tracking_id
					ELSE ''
				END
			FROM [ROUTE]
			WHERE Id = @pidTracking;

			IF (@isDanger <> '')
			BEGIN
				SET @status = 'DANGER'
			END

		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		SET @deviation = 0
		SET @status = 'OFF_ROUTE_ERROR'
		SET @cancelable = 0
		SET @lastLatitud = 0
		SET @lastLongitute = 0
		SET @isDanger = ''
		ROLLBACK TRANSACTION;
	END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[sp_RegisterRoute]    Script Date: 5/5/2026 1:35:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_RegisterRoute]
(
	@pdistance_text VARCHAR(250),
	@pdistance DECIMAL(10, 4),
	@pduration_text VARCHAR(250),
	@pduration DECIMAL(10, 4),
	@porigin_address VARCHAR(MAX),
	@porigin_latitud DECIMAL(10, 4),
	@porigin_longitude DECIMAL(10, 4),
	@pdestination_address VARCHAR(MAX),
	@pdestination_latitud DECIMAL(10, 4),
	@pdestination_longitude DECIMAL(10, 4),
	@pidUser INT,
	@ptimestamp DATETIME,
	@pXMLPoint XML,
	@pRouteCalibrated INT,
	@idRoute INT OUTPUT,
	@message VARCHAR(250) OUTPUT
)
AS
BEGIN
	DECLARE @numberTracking VARCHAR(10)
	BEGIN TRY
		BEGIN TRANSACTION
			UPDATE [ROUTE] SET State = 'C' WHERE IdUser = @pidUser AND State <> 'F'

			INSERT INTO [ROUTE]
				(Distance_text, Distance, Duration_text, Duration, 
					Origin_address, Origin_latitud, Origin_longitude,
					Destination_address, Destination_latitud, Destination_longitude,
					IdUser, [Timestamp], [State], IdRoute_calibrated)
			VALUES
				(@pdistance_text, @pdistance, @pduration_text, @pduration,
					@porigin_address, @porigin_latitud, @porigin_longitude,
					@pdestination_address, @pdestination_latitud, @pdestination_longitude,
					@pidUser, @ptimestamp, 'S', (CASE @pRouteCalibrated
						WHEN 0 THEN NULL
						ELSE @pRouteCalibrated END))

			SET @idRoute = SCOPE_IDENTITY();

			SET @numberTracking = CONCAT('track-', RIGHT(CONCAT('000', @idRoute), 3))

			UPDATE [ROUTE] SET Tracking_id = @numberTracking WHERE Id = @idRoute

			INSERT INTO dbo.POINT (
				Distance_text,
				Distance,
				Duration_text,
				Duration,
				Origin_latitud,
				Origin_longitude,
				End_latitud,
				End_longitude,
				Html_instructions,
				[Timestamp],
				IsValid,
				IdRoute,
				Deviation
			)
			SELECT
				Step.value('(Distance/Text)[1]', 'VARCHAR(250)'),
				Step.value('(Distance/Value)[1]', 'DECIMAL(10,4)'),
				Step.value('(Duration/Text)[1]', 'VARCHAR(250)'),
				Step.value('(Duration/Value)[1]', 'DECIMAL(10,4)'),
				Step.value('(Start_location/Lat)[1]', 'DECIMAL(10,4)'),
				Step.value('(Start_location/Lng)[1]', 'DECIMAL(10,4)'),
				Step.value('(End_location/Lat)[1]', 'DECIMAL(10,4)'),
				Step.value('(End_location/Lng)[1]', 'DECIMAL(10,4)'),
				Step.value('(Html_instructions)[1]', 'VARCHAR(MAX)'),
				@ptimestamp,
				'D', --DEFAULT
				@idRoute,
				0
			FROM @pXMLPoint.nodes('/ArrayOfStep/Step') AS XTbl(Step);

			SET @message = 'Tracking started'

		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		SET @numberTracking = 'EX';
		SET @message = ERROR_MESSAGE();
		ROLLBACK TRANSACTION;
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RegisterToken]    Script Date: 5/5/2026 1:35:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_RegisterToken]
(
	@pToken VARCHAR(MAX),
	@pidUser INT
)
AS
BEGIN
	UPDATE [USER] SET Token = @pToken WHERE Id = @pidUser
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RegisterUser]    Script Date: 5/5/2026 1:35:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_RegisterUser]
(
	@pname VARCHAR(10),
	@plastName VARCHAR(20),
	@pbirthday DATE,
	@ppassword VARCHAR(MAX),
	@pphonenumber VARCHAR(20),
	@presetCode VARCHAR(6),
	@idUser INT OUTPUT,
	@message VARCHAR(500) OUTPUT
)
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION
			DECLARE @UserPhone INT

			SELECT @UserPhone = COUNT(Id) FROM [USER] WHERE Phone = @pphonenumber

			IF(@UserPhone != 0)
				BEGIN
					SET @idUser = 0;
					SET @message = 'Phone number already exists.';
				END
			ELSE
				BEGIN
					DECLARE @idNewUser INT = 0, @idCode INT

					SELECT 
						@idCode = CODE.Id
					FROM CODE_RESET CODE
					WHERE Code = @presetCode AND CODE.Phone = @pphonenumber AND CODE.[State] = 1 AND IdUser IS NULL
					IF(@idCode <> 0)
					BEGIN
						INSERT INTO [USER](Phone, Password, IdRole, State) 
							VALUES(@pphonenumber, @ppassword, 2, 1)

						SET @idNewUser = SCOPE_IDENTITY();
					
						INSERT INTO [USER_PROFILE](Name, LastName, Birthday, State, IdUser) VALUES(@pname, @plastName, @pbirthday, 1, @idNewUser)
						UPDATE CODE_RESET SET [State] = 0 WHERE IdUser = @idUser OR Phone = @pphonenumber
						SET @idUser = @idNewUser;
						SET @message = 'User registered successfully.';
					END
					ELSE
					BEGIN
						SET @idUser = 0;
						SET @message = 'An error occurred during user registration.';
					END
				END
		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION;
		SET @idUser = 0;
		SET @message = ERROR_MESSAGE();
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RegisterVisit]    Script Date: 5/5/2026 1:35:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_RegisterVisit]
(
	@pTrackingId VARCHAR(10),
	@msj CHAR(2) OUTPUT
)
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION

			DECLARE @idAlert INT, @idRoute INT;

			SELECT @idRoute = Id FROM [ROUTE] WHERE Tracking_id = @pTrackingId

			UPDATE ALERT SET CountVisit = CountVisit + 1

			SET @msj = 'OK'

		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION;
			SET @msj = 'EX'
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ResetPassword]    Script Date: 5/5/2026 1:35:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ResetPassword]
(
	@presetCode VARCHAR(6),
	@pnewPassword VARCHAR(MAX),
	@pphone VARCHAR(10),
	@message VARCHAR(500) OUTPUT
)
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION
			DECLARE @idCode INT, @idUser INT

			SELECT 
				@idCode = CODE.Id,
				@idUser = USERS.Id
			FROM CODE_RESET CODE
			INNER JOIN [USER] USERS ON USERS.Id = CODE.IdUser
			WHERE Code = @presetCode AND USERS.Phone = @pphone AND CODE.[State] = 1 

			IF(@idCode <> 0)
			BEGIN
				UPDATE CODE_RESET SET [State] = 0 WHERE Id = @idCode
				UPDATE [USER] SET [Password] = @pnewPassword WHERE Id = @idUser
				UPDATE CODE_RESET SET [State] = 0 WHERE IdUser = @idUser
				SET @message = 'Password updated successfully.';
			END
			ELSE
			BEGIN
				SET @message = 'Update password failed.';
			END
		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION;
		SET @message = '';
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateConfidenceContact]    Script Date: 5/5/2026 1:35:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateConfidenceContact]
(
	@pid INT,
	@pname VARCHAR(100),
	@plastName VARCHAR(200),
	@pphone VARCHAR(10),
	@pidUserUpdate INT,
	@pdateUpdate DATETIME
)
AS
BEGIN
	DECLARE 
		@idUpdateTrustedContact INT = 0, 
		@message VARCHAR(MAX) = 'Trusted contact has not been updated correctly'
	BEGIN TRY
		BEGIN TRANSACTION
			UPDATE TRUSTED_CONTACT SET
					[Name] = @pname,
					Lastname = @plastName,
					Phone = @pphone,
					UpdateBy = @pidUserUpdate,
					UpdateAt = @pdateUpdate
			WHERE Id = @pid

			SET @idUpdateTrustedContact = @@ROWCOUNT;

			IF(@idUpdateTrustedContact > 0)
			BEGIN
				SET @message = 'Confidence contact updated successfully.';
			END

			SELECT
				@message AS [MESSAGE],
				@pid AS [CONTACT_ID],
				TRUS_CONT.[Name] AS [NAME],
				TRUS_CONT.Lastname AS [LASTNAME],
				TRUS_CONT.Phone AS [PHONE],
				TRUS_CONT.[State] AS [STATUS]
			FROM TRUSTED_CONTACT TRUS_CONT
			WHERE Id = @pid
		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION;
		SET @pid = 0;
		SET @message = ERROR_MESSAGE();
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateRouteArrival]    Script Date: 5/5/2026 1:35:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateRouteArrival]
(
	@pIdTracking INT,
	@pIdUser INT,
	@message VARCHAR(500) OUTPUT
)
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION
			DECLARE @isRoutValid INT

			SELECT @isRoutValid = COUNT(Id) FROM [ROUTE] WHERE Id = @pIdTracking AND IdUser = @pIdUser AND [STATE] = 'S'

			IF(@isRoutValid != 0)
				BEGIN
					SET @message = 'The trip does not belong to the user.';
				END
			ELSE
				BEGIN
					UPDATE [ROUTE] SET [STATE] = 'F' WHERE Id = @pIdTracking AND IdUser = @pIdUser
					SET @message = '"Arrival confirmed.';
				END
		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION;
		SET @message = ERROR_MESSAGE();
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ValidToken]    Script Date: 5/5/2026 1:35:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ValidToken]
(
	@ptoken VARCHAR(MAX),
	@count BIT OUTPUT
)
AS
BEGIN
	IF EXISTS (SELECT 1 FROM [USER] WHERE Token = @ptoken)
        SET @count = 1;
    ELSE
        SET @count = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteUser]    Script Date: 5/5/2026 1:35:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_DeleteUser]
(
	@pIdUser INT,
	@msj VARCHAR(500) OUTPUT
)
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION
			UPDATE [USER] 
				SET [State] = (
					CASE [State]
					WHEN 1 THEN 0
					ELSE 1 END
					) 
			WHERE Id = @pIdUser

			DECLARE @state BIT, @msjTemp VARCHAR(200)
			SELECT @state = [State] FROM [USER] WHERE Id = @pIdUser

			IF(@state = 0)
			BEGIN	
				SET @msjTemp = 'User deleted successfully.'
			END
			ELSE
			BEGIN
				SET @msjTemp = 'User successfully reset.';
			END

			SET @msj = @msjTemp
		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		SET @msj = ERROR_MESSAGE();
		ROLLBACK TRANSACTION
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_EditUserInfo]    Script Date: 5/5/2026 1:35:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_EditUserInfo]
(
	@pId INT,
	@pname VARCHAR(200),
	@plastName VARCHAR(300),
	@pbirthday DATE,
	@pphoneNumber VARCHAR(10),
	@pavatarImg VARCHAR(MAX),
	@message VARCHAR(500) OUTPUT
)
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION
			UPDATE USER_PROFILE SET 
				[Name] = @pname,
				LastName = @plastName,
				Birthday = @pbirthday,
				Avatar = @pavatarImg
			WHERE IdUser = @pId

			UPDATE [USER] SET 
				Phone = @pphoneNumber
			WHERE Id = @pId
			SET @message = 'User updated successfully.';
		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		SET @message = 'User update failed';
		ROLLBACK TRANSACTION
	END CATCH
END
GO
