USE [alf1ery_tracking]
GO
/****** Object:  StoredProcedure [dbo].[sp_ArriveRoute]    Script Date: 5/10/2026 5:42:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ArriveRoute]
(
	@ptrackingID INT,
	@puserId INT,
	@plongitude DECIMAL(10, 4),
	@platitude DECIMAL(10, 4),
	@message VARCHAR(250) OUTPUT
)
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION
			
			UPDATE [ROUTE] SET [STATE] = 'F' WHERE Id = @ptrackingID AND IdUser = @puserId AND [STATE] <> 'F'

			SET @message = 'Tracking started'

		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		SET @message = ERROR_MESSAGE();
		ROLLBACK TRANSACTION;
	END CATCH
END
GO
