USE [alf1ery_tracking]
GO
/****** Object:  StoredProcedure [dbo].[sp_CancelRoute]    Script Date: 5/10/2026 5:42:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CancelRoute]
(
	@puserId INT,
	@msj CHAR(2) OUTPUT
)
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION
			
			UPDATE [ROUTE] SET [STATE] = 'C' WHERE IdUser = @puserId AND [STATE] = 'S'

			IF @@ROWCOUNT > 0
			BEGIN
				SET @msj = 'OK'
			END
			ELSE
			BEGIN
				SET @msj = 'E1'
			END

		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		SET @msj = 'EX';
		ROLLBACK TRANSACTION;
	END CATCH
END
GO
