USE [alf1ery_tracking]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDangerRoute]    Script Date: 5/10/2026 5:46:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetDangerRoute]
(
	@pTrackingRoute VARCHAR(10),
	@pPhoneUser VARCHAR(10)
)
AS
BEGIN
BEGIN TRY
	BEGIN TRANSACTION
		DECLARE @alertsVisits INT = 0

		UPDATE ALEXTRU
			SET ALEXTRU.IsVisit = 1
		FROM ALERTXTRUSTED_CONTACTS ALEXTRU
		INNER JOIN TRUSTED_CONTACT TRU ON TRU.Id = ALEXTRU.IdTrusted_Contacts
		WHERE TRU.Phone = @pPhoneUser

		SELECT @alertsVisits = COUNT(ALEXTRU.Id)
		FROM ALERTXTRUSTED_CONTACTS ALEXTRU
		INNER JOIN [ALERT] ALE ON ALE.Id = ALEXTRU.IdAlert
		INNER JOIN [ROUTE] ROU ON ROU.Id = Ale.IdRoute
		WHERE Tracking_id = @pTrackingRoute AND ALEXTRU.IsVisit = 1

		UPDATE ALE SET CountVisit = COALESCE(@alertsVisits, 0)
		FROM ALERT ALE
		INNER JOIN ALERTXTRUSTED_CONTACTS ALEXTRU ON ALEXTRU.IdAlert = ALE.Id
		INNER JOIN [ROUTE] ROU ON ROU.Id = Ale.IdRoute
		WHERE Tracking_id = @pTrackingRoute

		SELECT 
			POIN.Origin_latitud AS [LATITUD],
			POIN.Origin_longitude AS [LONGITUDE],
			POIN.[Timestamp] AS [TIME]
		FROM [ROUTE] ROUT
		INNER JOIN POINT POIN ON POIN.IdRoute = ROUT.Id AND POIN.IsValid = 'L'
		WHERE [State] = 'D' AND Tracking_id = @pTrackingRoute


	COMMIT TRANSACTION;
END TRY
BEGIN CATCH
	ROLLBACK TRANSACTION;
END CATCH
END
GO
