USE [alf1ery_tracking]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPointOfRoute]    Script Date: 5/10/2026 5:47:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetPointOfRoute]
(
	@pTrackingId INT
)
AS
BEGIN

	SELECT 
		Origin_latitud AS [ORIGIN_LATITUD],
		Origin_longitude AS [ORIGIN_LONGITUDE],
		End_latitud AS [END_LATITUD],
		End_longitude AS [END_LONGITUDE]
	FROM POINT WHERE IdRoute = @pTrackingId  AND IsValid = 'D'
END
GO
