USE [alf1ery_tracking]
GO
/****** Object:  StoredProcedure [dbo].[sp_RegisterLiveCoordinate]    Script Date: 5/4/2026 11:04:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_RegisterLiveCoordinate]
(
	@pidTracking INT,
	@platitud DECIMAL(10,6),
	@plongitute DECIMAL(10,6),
	@ptimestamp DATETIME,
	@status VARCHAR(250) OUTPUT,
	@cancelable BIT OUTPUT,
	@deviation DECIMAL(10,6) OUTPUT,
	@lastLatitud DECIMAL(10,6) OUTPUT,
	@lastLongitute DECIMAL(10,6) OUTPUT,
	@isDanger VARCHAR(10) OUTPUT
)
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION

			DECLARE 
				@routeOriginLatitud DECIMAL(10,6),
				@routeOriginLongitude DECIMAL(10,6),
				@routeEndLatitud DECIMAL(10,6),
				@routeEndLongitude DECIMAL(10,6),
				@calculusDeviatio DECIMAL(10,6),
				@calculusDeviatioFinal DECIMAL(10,6) = 0,
				@distanceRadiusFinalPoint DECIMAL(10,6)

			SET @cancelable = 0

			DECLARE cursor_points CURSOR FOR
			(SELECT 
				Origin_latitud, Origin_longitude, 
				End_latitud, End_longitude
			FROM POINT
			WHERE IdRoute = @pidTracking AND IsValid = 'D')

			CREATE TABLE #desviationsTemp (
				valores DECIMAL(10,6)
			)

			OPEN cursor_points;

			FETCH NEXT FROM cursor_points INTO @routeOriginLatitud, @routeOriginLongitude, @routeEndLatitud, @routeEndLongitude;

			WHILE @@FETCH_STATUS = 0
			BEGIN
				SET @calculusDeviatio = dbo.fn_EvaluarPuntoEnLinea(
											@routeOriginLatitud, @routeOriginLongitude, 
											@routeEndLatitud, @routeEndLongitude,
											@platitud, @plongitute)
				
				INSERT INTO #desviationsTemp VALUES (@calculusDeviatio);

				FETCH NEXT FROM cursor_points INTO @routeOriginLatitud, @routeOriginLongitude, @routeEndLatitud, @routeEndLongitude;
			END

			CLOSE cursor_points;
			DEALLOCATE cursor_points;

			SELECT TOP 1 
				@calculusDeviatioFinal = valores
			FROM #desviationsTemp 
			WHERE valores > 0
			ORDER BY valores ASC

			IF OBJECT_ID('tempdb..#desviationsTemp') IS NOT NULL
				DROP TABLE #desviationsTemp;

			INSERT INTO dbo.POINT (
				Origin_latitud,
				Origin_longitude,
				[Timestamp],
				IsValid,
				IdRoute,
				Deviation
			) VALUES(
				@platitud,
				@plongitute,
				@ptimestamp,
				'L', --LIVE 
				@pidTracking,
				@calculusDeviatioFinal
			)

			SET @deviation = @calculusDeviatioFinal
			SET @lastLatitud = 0
			SET @lastLongitute = 0
			SET @status = 'ON_ROUTE'
			IF(@deviation >= 75)
			BEGIN
				SET @status = 'OFF_ROUTE'
				SELECT TOP 1
					@lastLatitud = Origin_latitud,
					@lastLongitute = Origin_longitude
				FROM POINT WHERE IdRoute = @pidTracking
				ORDER BY Id DESC
			END

			IF(@status = 'ON_ROUTE')
			BEGIN				
				DECLARE @endLatitud DECIMAL(10,6), @endLongitude DECIMAL(10,6)

				SELECT TOP 1
					@endLatitud = End_latitud, 
					@endLongitude = End_longitude
				FROM POINT
				WHERE IdRoute = @pidTracking AND IsValid = 'D' 

				DECLARE @p1 geography = geography::Point(@platitud, @plongitute, 4326);
				DECLARE @p2 geography = geography::Point(@endLatitud, @endLongitude, 4326);

				SET @distanceRadiusFinalPoint = @p1.STDistance(@p2) 

				SET @lastLatitud = @endLatitud
				SET @lastLongitute = @endLongitude

				IF(@distanceRadiusFinalPoint <= 80)
				BEGIN
					SET @cancelable = 0
				END
				ELSE
				BEGIN
					SET @cancelable = 1
				END

			END

			SELECT @isDanger = 
				CASE 
					WHEN [State] = 'D' THEN Tracking_id
					ELSE ''
				END
			FROM [ROUTE]
			WHERE Id = @pidTracking;

			IF (@isDanger <> '')
			BEGIN
				SET @status = 'DANGER'
			END

		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		SET @deviation = 0
		SET @status = 'OFF_ROUTE_ERROR'
		SET @cancelable = 0
		SET @lastLatitud = 0
		SET @lastLongitute = 0
		SET @isDanger = ''
		ROLLBACK TRANSACTION;
	END CATCH
END
