USE [alf1ery_tracking]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateDateRepeat]    Script Date: 5/10/2026 5:58:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateDateRepeat]
(
	@ptimestamp DATETIME
)
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION
			
			UPDATE ROUTE SET Timestamp_DangerRepeat = DATEADD(minute, 2, @ptimestamp)
			WHERE STATE = 'D' AND @ptimestamp > Timestamp_DangerRepeat AND Timestamp_DangerFinish > @ptimestamp

		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION;
	END CATCH
END
GO
