USE [alf1ery_tracking]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateRouteArrival]    Script Date: 5/10/2026 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateRouteArrival]
(
	@pIdTracking INT,
	@pIdUser INT,
	@message VARCHAR(500) OUTPUT
)
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION
			DECLARE @isRoutValid INT

			SELECT @isRoutValid = COUNT(Id) FROM [ROUTE] WHERE Id = @pIdTracking AND IdUser = @pIdUser AND [STATE] = 'S'

			IF(@isRoutValid != 0)
				BEGIN
					SET @message = 'The trip does not belong to the user.';
				END
			ELSE
				BEGIN
					UPDATE [ROUTE] SET [STATE] = 'F' WHERE Id = @pIdTracking AND IdUser = @pIdUser
					SET @message = '"Arrival confirmed.';
				END
		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION;
		SET @message = ERROR_MESSAGE();
	END CATCH
END
GO
