USE [alf1ery_tracking]
GO
/****** Object:  StoredProcedure [dbo].[sp_ChangeStatusConfidenceContact]    Script Date: 5/10/2026 5:44:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ChangeStatusConfidenceContact]
(
	@pid INT
)
AS
BEGIN
	DECLARE @newState BIT, @message VARCHAR(MAX), @idChangeStateTrustedContact INT
	SET @message = 'The trusted contact´s status has not been changed correctly'
	BEGIN TRY
		BEGIN TRANSACTION

			SELECT @newState = [State] FROM TRUSTED_CONTACT WHERE Id = @pid

			SET @newState = 
			(CASE @newState
				WHEN 1 THEN 0
				WHEN 0 THEN 1
				END)


			UPDATE TRUSTED_CONTACT 
				SET [State] = @newState 
			WHERE Id = @pid

			SET @idChangeStateTrustedContact = @@ROWCOUNT;

			IF(@idChangeStateTrustedContact > 0)
			BEGIN
				SET @message = 'The trusted contact status has been successfully changed.';
			END

			SELECT 
				@message AS [MESSAGE],
				@pid AS [CONTACT_ID],
				@newState AS [IS_ACTIVE]
		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		SET @message = ERROR_MESSAGE();
		ROLLBACK TRANSACTION;
	END CATCH
END
GO
