USE [alf1ery_tracking]
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteConfidenceContact]    Script Date: 5/10/2026 5:44:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteConfidenceContact]
(
	@pid INT,
	@message VARCHAR(MAX) OUTPUT
)
AS
BEGIN
	DECLARE 
		@idDeleteTrustedContact INT
	SET @message = ''
	BEGIN TRY
		BEGIN TRANSACTION
			DELETE TRUSTED_CONTACT WHERE Id = @pid

			SET @message = 'Confidence contact deleted successfully.';
		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION;
		SET @message = 'Trusted contact has not been deleted correctly';
	END CATCH
END
GO
