USE [alf1ery_tracking]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSpecificConfidenceContact]    Script Date: 5/10/2026 5:47:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetSpecificConfidenceContact]
(
	@pidTrustedContact INT
)
AS
BEGIN

	SELECT
		TRUS_CONT.Id AS [CONTACT_ID],
		TRUS_CONT.[Name] AS [NAME],
		TRUS_CONT.Lastname AS [LASTNAME],
		TRUS_CONT.Phone AS [PHONE],
		TRUS_CONT.[State] AS [STATUS]
	FROM [TRUSTED_CONTACT] TRUS_CONT
	WHERE TRUS_CONT.Id = @pidTrustedContact

END
GO
