USE [alf1ery_tracking]
GO
/****** Object:  StoredProcedure [dbo].[sp_RegisterVisit]    Script Date: 5/10/2026 5:53:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_RegisterVisit]
(
	@pTrackingId VARCHAR(10),
	@msj CHAR(2) OUTPUT
)
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION

			DECLARE @idAlert INT, @idRoute INT;

			SELECT @idRoute = Id FROM [ROUTE] WHERE Tracking_id = @pTrackingId

			UPDATE ALERT SET CountVisit = CountVisit + 1

			SET @msj = 'OK'

		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION;
			SET @msj = 'EX'
	END CATCH
END
GO
