USE [alf1ery_tracking]
GO
/****** Object:  StoredProcedure [dbo].[sp_login]    Script Date: 5/10/2026 5:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_login]
(
	@pphone VARCHAR(10),
	@pclave VARCHAR(MAX)
)
AS
BEGIN
	SELECT 
		USU.Id AS [ID],
		USU.Phone AS [PHONE],
		USER_PRO.[Name] AS [NAME],
		USER_PRO.LastName AS [LAST_NAME],
		USER_PRO.Birthday AS [BIRTHDAY],
		ROL.Id AS [ID_ROLE],
		ROL.[Name] AS [ROLE]
	FROM [USER] USU
	LEFT JOIN [ROLE] ROL ON ROL.Id = USU.IdRole
	LEFT JOIN [USER_PROFILE] USER_PRO ON USER_PRO.IdUser = USU.Id
	WHERE 
		USU.Phone = @pphone 
		AND USU.Password = @pclave 
		AND USER_PRO.[State] = 1
END
GO
