USE [alf1ery_tracking]
GO
/****** Object:  StoredProcedure [dbo].[sp_RegisterCodeReset]    Script Date: 5/10/2026 5:50:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_RegisterCodeReset]
(
	@pcode VARCHAR(6),
	@pphone VARCHAR(12),
	@message VARCHAR(500) OUTPUT
)
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION
			
			DECLARE @IdUsuario INT;

			SELECT @IdUsuario = Id FROM [USER] WHERE Phone = @pphone

			INSERT INTO CODE_RESET(Code, State, IdUser, Phone) 
				VALUES(@pcode, 1, @IdUsuario, @pphone)
			SET @message = 'Code registed successfully.';
		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		SET @message = 'EX';
		ROLLBACK TRANSACTION;
	END CATCH
END
GO
