USE [alf1ery_tracking]
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteToken]    Script Date: 5/10/2026 5:45:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteToken]
(
	@pidUser INT
)
AS
BEGIN
	UPDATE [USER] SET Token = null WHERE Id = @pidUser
END
GO
