USE [alf1ery_tracking]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUsersById]    Script Date: 5/10/2026 5:49:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetUsersById]
(
	@pId INT
)
AS
BEGIN
	SELECT 
		USR.Id AS [ID],
		USR_PROF.[Name] AS [NAME],
		USR_PROF.LastName AS [LASTNAME],
		USR_PROF.Birthday AS [BIRTHDAY],
		USR.Phone AS [PHONE],
		USR.[State] AS [STATE],
		USR.CreateAt AS [CREATEDAT]
	FROM [USER] USR
	INNER JOIN USER_PROFILE USR_PROF ON USR_PROF.IdUser = USR.Id
	WHERE USR.Id = @pId
END
GO
