USE [alf1ery_tracking]
GO
/****** Object:  StoredProcedure [dbo].[sp_RegisterToken]    Script Date: 5/10/2026 5:52:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_RegisterToken]
(
	@pToken VARCHAR(MAX),
	@pidUser INT
)
AS
BEGIN
	UPDATE [USER] SET Token = @pToken WHERE Id = @pidUser
END
GO
