USE [alf1ery_tracking]
GO
/****** Object:  StoredProcedure [dbo].[sp_ValidToken]    Script Date: 5/10/2026 5:59:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ValidToken]
(
	@ptoken VARCHAR(MAX),
	@count BIT OUTPUT
)
AS
BEGIN
	IF EXISTS (SELECT 1 FROM [USER] WHERE Token = @ptoken)
        SET @count = 1;
    ELSE
        SET @count = 0;
END
GO
