USE [alf1ery_tracking]
GO
/****** Object:  StoredProcedure [dbo].[usp_EditUserInfo]    Script Date: 5/10/2026 6:00:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_EditUserInfo]
(
	@pId INT,
	@pname VARCHAR(200),
	@plastName VARCHAR(300),
	@pbirthday DATE,
	@pphoneNumber VARCHAR(10),
	@pavatarImg VARCHAR(MAX),
	@message VARCHAR(500) OUTPUT
)
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION
			UPDATE USER_PROFILE SET 
				[Name] = @pname,
				LastName = @plastName,
				Birthday = @pbirthday,
				Avatar = @pavatarImg
			WHERE IdUser = @pId

			UPDATE [USER] SET 
				Phone = @pphoneNumber
			WHERE Id = @pId
			SET @message = 'User updated successfully.';
		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		SET @message = 'User update failed';
		ROLLBACK TRANSACTION
	END CATCH
END
GO
