USE [alf1ery_tracking]
GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteUser]    Script Date: 5/10/2026 6:00:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_DeleteUser]
(
	@pIdUser INT,
	@msj VARCHAR(500) OUTPUT
)
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION
			UPDATE [USER] 
				SET [State] = (
					CASE [State]
					WHEN 1 THEN 0
					ELSE 1 END
					) 
			WHERE Id = @pIdUser

			DECLARE @state BIT, @msjTemp VARCHAR(200)
			SELECT @state = [State] FROM [USER] WHERE Id = @pIdUser

			IF(@state = 0)
			BEGIN	
				SET @msjTemp = 'User deleted successfully.'
			END
			ELSE
			BEGIN
				SET @msjTemp = 'User successfully reset.';
			END

			SET @msj = @msjTemp
		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		SET @msj = ERROR_MESSAGE();
		ROLLBACK TRANSACTION
	END CATCH
END
GO
